<section class="min-vh-100 d-flex justify-content-center align-items-center position-relative">
    <div class="py-5 text-center pt-5 w-75  text-center contact-title" style="color: #2c3e50;">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">CONTACT SECTION</h2>
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="line me-3" style="background-color:  #2c3e50;"></div>
            <div class="d-flex justify-content-center"><i class=" icon-star fa-solid fa-star text-center"></i></div>
            <div class="line me-3" style="background-color:  #2c3e50;"></div>
        </div>
        
    </div>
    
    <form class="w-50 p-5 mx-auto mt-5 ">

        <label for="userName" class="position-relative top-0 header-top mt-5"></label>
        <input type="text" id="userName" placeholder="userName" class="form-control border-0 border-bottom py-3 position-relative">
        <label for="userAge" class="position-relative top-0 header-top"></label>
        <input type="" id="userAge" placeholder="userAge" class="form-control border-0 border-bottom py-3 position-relative">
        <label for="userEmail" class="position-relative top-0 header-top"></label>
        <input type="email" id="userEmail" placeholder="userEmail" class="form-control border-0 border-bottom py-3 position-relative">
        <label for="userPassword" class="position-relative top-0 header-top"></label>
        <input type="password" id="userPassword" placeholder="userPassword" class="form-control border-0 border-bottom py-3 position-relative">

        <button class="btn mt-4 text-white" style="background-color: #1abc9c;">Send Message</button>
    </form>
    
</section>