<section class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="home d-flex justify-content-center align-items-center text-white w-50 ">
        <div class="text-center">
            <img src="./assets/imgs/avataaars.svg" class="w-50 mb-4" alt="shape of an avatar">
        
            <div class="text-center pt-4" style="color: white;">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">START FRAMEWORK</h2>
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <div class="line me-3" style="background-color: white;"></div>
                    <div class="d-flex justify-content-center"><i class=" icon-star fa-solid fa-star text-center"></i></div>
                    <div class="line me-3" style="background-color: white;"></div>
                </div>
                <p class="fw-lighter mt-2">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    
    </div>
</section>